<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     {% macro render_dict(dictionary) %}
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Comment</th>
            </tr>
            {% for key, val in dictionary.items() %}
                <tr>
                   <td>{{ key }}</td>
                   <td>{{ val }}</td>
                    {% if val <+2 %}
                    <td>Short</td>
                    {% elif val >= 2 and val <=3 %}
                    <td> Medium</td>
                    {% else %}
                    <td style="...">Long</td>
                    {% endif %}
            </tr>
            {% endfor %}
        </table>
     {% endmacro %}
</body>
</html>